:host {

  ::ng-deep .p-card {
    background: #CCC;
    border-radius: 12px;
    padding: 30px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  ::ng-deep .p-card::-webkit-scrollbar {
    display: none;
  }

  ::ng-deep .p-card-title {
    font-size: 2rem;
    font-weight: 700;
  }

  ::ng-deep .p-card-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }

  display: block;
  padding: 1rem;
}

app-tile-content {
  width: 100%;
}

.tile-image-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.tile-image-container > img {
  width: 70%;
  border-radius: 12px;
}




