:host {

  ::ng-deep .p-card {
    color: var(--blue);
    background: #CCC;
    border-radius: 12px;
    padding: 30px;
    min-height: 750px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  ::ng-deep .p-card::-webkit-scrollbar {
    display: none;
  }

  ::ng-deep .p-card-title {
    font-size: 2rem;
    font-weight: 700;
  }

  ::ng-deep .p-card-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }

  ::ng-deep .hidden > .p-card > .p-card-body {
    height: 700px;
  }

  ::ng-deep .hidden > .p-card > .p-card-body > .p-card-content {
    height: 700px;
  }

  display: block;
  padding: 1rem;
}

.tile-image-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.tile-image-container > img {
  width: 70%;
  border-radius: 12px;
}

.hidden-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 5rem;
}





