<p-card header="{{ tile.name }}" subheader="{{ tile.subtitle }}" class="tile-card">
  <ng-container *ngIf="tile">
    <app-quizz/>
    <div class="tile-content-container">
      <app-tile-content
        title="Qu'est-ce que c'est ?"
        content="{{ tile.description }}"
        contentstyle="normal"
      ></app-tile-content>
      <app-tile-content
        title="Quels sont les bénéfices"
        content="{{ tile.benefits }}"
        contentstyle="green"
      ></app-tile-content>
      <app-tile-content
        title="Les désavantages"
        content="{{ tile.dysfunctions }}"
        contentstyle="red"
      ></app-tile-content>
    </div>

<!--    Ajouter les questions -->
  </ng-container>
</p-card>
