
<p-card *ngIf="!hidden" header="{{ tile.name }}" subheader="{{ tile.subtitle }}" class="tile-card">
  <ng-container *ngIf="tile">
    <div class="tile-image-container">
      <img src="assets/img/poumons.webp" alt="image" class="tile-image" />
    </div>
    <app-quizz [isOcean]="isOcean" [questions]="tile.questions" (quizFinishedEvent)="onQuizFinishedFunc($event)"/>

<!--    Ajouter les questions -->
  </ng-container>

<!--  <ng-container *ngIf="hidden">-->
<!--    <p>? ? ?</p>-->
<!--  </ng-container>-->
</p-card>
<p-card *ngIf="hidden" class="tile-card">
  <ng-container>
    <h1> ? ? ? </h1>
  </ng-container>
</p-card>
