<app-header></app-header>
<div class="podcast-container">

  <div class="top">

    <div class="content-podcast">
      <div class="podcast-frame">
        <div class="title-podcast">
          <h1>Nos Podcasts</h1>
        </div>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla ut lorem sit amet eleifend. Nunc lacus erat ullamcorper auctor. Nullam et condimentum nunc. Curabitur ultricies looret sodales.
          </p>
          <div class="slider-controls">
            <button class="slider-button prev" (click)="scrollLeft()"><</button>
            <button class="slider-button next" (click)="scrollRight()">></button>
          </div>
        </div>
        <div class="podcast-slider">
          <div #podcastCards class="podcast-cards">
            <app-podcast-card *ngFor="let podcast of podcasts" [podcast]="podcast"></app-podcast-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
