.podcast-container {
  padding: 20px; // Ajoutez des marges pour éviter que le contenu soit trop collé aux bords

  .content-podcast {
    position: relative;

    .podcast-frame {
      //border: 2px solid #007BFF; // Bordure bleue
      border-radius: 10px; // Coins arrondis
      background-color: #CCCCCC; // Couleur de fond
      padding: 20px; // Espacement interne
      margin: 20px 0; // Marges pour espacer le cadre des autres éléments
      position: relative;

      .description {
        position: relative;

        .slider-controls {
          position: absolute;
          top: -60px; // Ajustez cette valeur pour remonter les boutons
          right: 10px; // Ajustez cette valeur pour positionner les boutons
          display: flex;
          gap: 5px;
        }

        .slider-button {
          background: #CCCCCC;
          border: none;
          color: white;
          padding: 10px;
          color: #162752;
          cursor: pointer;
          border-radius: 50%; // Boutons ronds
          font-size: 30px; // Ajustez la taille de la police
        }
      }

      .podcast-slider {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        //border: 2px solid #007BFF; // Bordure bleue
        border-radius: 10px; // Coins arrondis
        padding: 10px; // Espacement interne
        background-color: #CCCCCC; // Couleur de fond
        margin-top: 20px; // Espacement entre le texte et le slider

        .podcast-cards {
          display: flex;
          gap: 10px;
          transition: transform 0.3s ease;
          overflow: hidden;
          width: 100%;
        }
      }
    }
  }
}
