<app-header/>
<div class="map">
  <div class="points">
    <div *ngFor="let point of points; let i = index"
         class="point"
         [ngStyle]="getPointStyle(point)"
         (mouseenter)="onMouseEnter(i)"
         (mouseleave)="onMouseLeave()"
         (click)="redirectToGame(i)">
      <img [src]="getPointImage(i)" alt="point">
    </div>
  </div>
</div>

<p-dialog [(visible)]="displayModal" header="Bienvenue dans le jeu" [closable]="false">
  <p>Voici une modale qui s'ouvre automatiquement à l'ouverture de la page.</p>
  <p-footer>
    <button type="button" pButton label="Fermer" icon="pi pi-check" (click)="closeModal()"></button>
  </p-footer>
</p-dialog>


